<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      {% if false %} {% include 'bss-title-store-locator' %} {% include 'bss-description-store-locator' %} {% else %} <h1 class="section-header--title">{{ page.title }}</h1> {% endif %}
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
