<div class="custom-popup-container" style="display:none;position:fixed;top:50%;left:calc(50% - 100px);background:#000;padding:20px;width:200px">
  <p style="color:#fff;font-size:30px" class="custom-popup">This is a Sale Popup</p>
</div>